<!-- Custom CSS -->
<link href="css/stylish-portfolio.css" rel="stylesheet">

<div class="container text-center">
<table id="articles">
    <tr style="height:3em;">
        <th style="width: 30%;">Title</th>
        <th style="width: 10%;">Level</th>
        <th style="width: 60%;">Summary</th>
    </tr>
    {% for article in articles %}
    <tr id="article_{{article['i']}}" style="{{article['style']}}">
        <td style="width: 30%;"><a href="{{article['url']}}">{{article['title']}}</a></td>
        <td style="width: 10%;">{{article['score']}}</td>
        <td style="width: 60%;">{{article['summary'][:200]}}</td>
    </tr>
    {% endfor %}
</table>
</div>
