<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Text Ascent</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.css" rel="stylesheet">
  <!-- <link href="css/range_slider.css" rel="stylesheet"> -->

  <!-- Enable Brython -->
  <title>Traverse</title>
  <script type="text/javascript" src="brython.js"></script>
  <script type="text/javascript" src="brython_stdlib.js"></script>
</head>

<body onload="brython(1)">

  <!-- Brython Functions -->
  <script type="text/python3">
    from browser import document, ajax
    import json
    import warnings

    def show_results(response):
        if response.status==200:
            document["result"].html = response.text
            update_traverse_slider()
        else:
            document["result"].html = "Error: " + response.text

    def get_prediction(ev):
        """Get the predicted text."""
        req = ajax.ajax()
        document["result"].html = 'loading...'
        req.bind('complete', show_results)
        req.open('POST', '/predict', True)
        req.set_header('content-type','application/json')
        data = json.dumps({'user_input': document['user_input'].value})
        req.send(data)
    
    document["move_down"].bind("click", get_prediction)
    
    def update_traverse_slider(ev):
        traverse_slide_val = document["text_slider"].value
        document["text_slider_label"].html = traverse_slide_val
        min_idx = int(traverse_slide_val)
        for i in range(50):
          article = document[f'article_{i}']
          if (i >= min_idx) and (i < (min_idx + 5)):
            style = ""
          else:
            style="display: none"
          article.attrs['style'] = style
    
    
    document["text_slider"].bind("input", update_traverse_slider)
   
  </script>

<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Text Ascent</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
    </ul>
</nav>

<!-- Header -->
<header class="masthead d-flex" id="page-top">
  <div class="container text-center my-auto">
    <h1 style="opacity: 0.9;" class="mb-1">Text Ascent</h1>
    <h3 style="opacity: 0.75;" class="mb-5">
      <em>A tool to upskill with friends</em>
    </h3>

<!-- Masthead -->
<section>
<div class="overlay"></div>
    <div>
      <textarea id="user_input" cols="70" rows="5" onfocus="this.value=''" placeholder='Start typing two sentences or more of anything you&#39;r reading. You&#39;ll get the 5 most similar articles in our library back. Then you can change the reading difficulty!'></textarea>
    </div>
    <br />
    <div>
      <a id="move_down" class="btn btn-primary btn-xl js-scroll-trigger" href="#traverse">Traverse!</a>
   </div style="opacity: 0.8;">
   <br /><br /><br /><br /><br /><br />
    <h6 style="opacity: 0.3;">Photo by Ted Bryan Yu on Unsplash</h6>
</section>
</div>
</header>
 
<div class="row">
  <!-- Section One -->
  <section class="content-section bg-primary col-md-2" id="read_on">
      <div class="container text-center">
          <div class="content-section-heading">
            <h2 style="font-size: 24px;">Slide the scale to traverse</h2>
            <div>
            <b>Summit: Complex</b> 
            <input type="range" min="0" max="45" value="22" class="slider" id="text_slider">
            <br /><br /><br /><br /><br /><br /><br /><br />
            <b>Camp: Simpler</b>
            <div class="container text-center">
                <span id='text_slider_label' style="font-size: 20px">Level</span> 
            </div>
            </div> 
          </div>
        </div>
  </section>

<!-- Section Two -->
<section class="content-section bg-primary col-md-10" id="traverse">
  <div class="container text-center">
      <h2 style="font-size: 24px">These are some articles related to your topic. Scroll to see more articles organized by content difficulty</h2>
          <div id="result"></div>
            <br />
  </div>
</section>
</div>

  <!-- About -->
  <div class="row" style="padding-top: 2rem; padding-left: 2rem; padding-right: 2rem; padding-bottom: 2rem;">
  <section class="content-section bg-light col-md-8" id="about">
    <div class="container text-center">
      <h2>How does this work?</h2>
      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQy9PxcakkLPt9Soc9iCNb-ikNgN9kWBjfA7WgB0u3TW16hL605XUwsW15seKhjXkK2xgv_YFWD1SXC/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
  </section>
  <section class="content-section bg-light col-md-4">
      <br /><br /><br /><br /><br /><br /><br /><br />
      <h4>About</h4>
      <p>
      <h6 style="font-weight: normal;">Sherry Yang is a data scientist with a background in market research. Her interest in web search led to building “Text Ascent”, a web app that uses unsupervised ML to help users discover content based on text complexity.</h6>
      </p>
      <br />
      <p>
        <h6 style="font-weight: normal;">Technologies used: Python, Wikipedia API, Natural Language Processing, Flask, AWS, MongoDB</h6>
      </p>
      <br />
      <p>
          <a href="mailto:sherry.yang33@gmail.com?subject=Feedback">Contact Me For Tea</a>
      </p>
    </section>
  </div>

  <!-- Hiking Image --> 
  <section class="callout">
  </section> 

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.linkedin.com/in/sherzyang">
            <i class="icon-social-linkedin"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.medium.com/@sherzyang">
            <i class="fab fa-medium"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://www.github.com/sherzyang">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Sherry Yang 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/stylish-portfolio.min.js"></script>

</body>

</html>
